{
  "openapi": "3.0.3",
  "info": {
    "title": "Satohash API",
    "description": "**Bitcoin-native document timestamping.** Satohash lets you prove a document existed at a specific point in time — secured by the Bitcoin blockchain, with no Bitcoin wallet required for users.\n\nWhen you submit a SHA-256 hash, Satohash stamps it against three free public OpenTimestamps calendars (alice, bob, and finney). Within ~10 minutes a Bitcoin miner will include the calendar's aggregated commitment in a block, giving you an immutable, independently-verifiable timestamp anchored to global proof-of-work.\n\n## How it works\n1. **Hash** — your document never leaves your device; only its SHA-256 hash is sent\n2. **Stamp** — the hash is committed to three public OTS calendars simultaneously\n3. **Mine** — within ~10 min a Bitcoin block seals the commitment permanently\n4. **Verify** — anyone can verify the `.ots` proof independently, forever, for free\n\n## Authentication\nAll API requests require an API key in the `X-API-Key` header.\n\n## Pricing\n- **Free tier**: no daily quota — the public path is rate-limited to 5 requests/minute to keep the service healthy; no credit card, no signup friction\n- **Pro tier**: Pay per request in satoshis via Lightning Network (L402)\n- **Enterprise**: Contact us for custom pricing and SLA\n\n## AI / LLM Integration\nSatohash is designed to be called from AI agents, GPT Actions, Claude tool_use, Make, Zapier, and n8n. The only pre-processing requirement is computing a SHA-256 hash of the document on the client side before calling the API. See the full integration guide at `https://satohash.giveabit.io/docs/AI_INTEGRATION`.\n\n## Zero-Knowledge Design\nDocument contents never touch Satohash servers. Only the 64-character hex SHA-256 hash is transmitted. This means Satohash cannot read, store, or leak your documents.",
    "version": "1.0.0",
    "contact": {
      "name": "Satohash Support",
      "email": "hello@giveabit.io"
    },
    "x-satohash-ots": {
      "description": "Satohash uses the OpenTimestamps protocol with three free public calendars. No API key or account is required to use these calendars — they are community-funded infrastructure maintained by the OTS project.",
      "calendars": [
        {
          "name": "alice",
          "url": "https://alice.btc.calendar.opentimestamps.org",
          "operator": "OpenTimestamps Project",
          "cost": "free"
        },
        {
          "name": "bob",
          "url": "https://bob.btc.calendar.opentimestamps.org",
          "operator": "OpenTimestamps Project",
          "cost": "free"
        },
        {
          "name": "finney",
          "url": "https://finney.calendar.eternitywall.com",
          "operator": "Eternity Wall",
          "cost": "free"
        }
      ],
      "uptime_monitor": "https://uptime.opentimestamps.net",
      "proof_lifecycle": [
        "pending",
        "confirmed"
      ],
      "confirmation_time_minutes": 10
    }
  },
  "servers": [
    {
      "url": "https://satohash.giveabit.io",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/verify": {
      "post": {
        "summary": "Verify timestamp (binary upload)",
        "description": "Upload a binary .ots file for verification.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "otsFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "The .ots timestamp file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/upgrade": {
      "post": {
        "summary": "Upgrade timestamp",
        "description": "Upgrades a pending timestamp proof to include Bitcoin block confirmation.",
        "tags": [
          "Timestamping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "otsFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgraded .ots file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-Ots-Upgraded": {
                "description": "Whether the file was actually upgraded",
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stamps/batch": {
      "post": {
        "summary": "Create batch timestamps",
        "description": "Batch-stamp up to 50 hashes in a single synchronous request. Submit an array of {hash, filename} objects; each hash is submitted to the Bitcoin-anchored OpenTimestamps pipeline and results are returned inline in the response (no async job, no polling).",
        "tags": [
          "Batch Timestamping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTimestampRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Batch of 2 hashes",
                  "value": [
                    {
                      "hash": "a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e",
                      "filename": "contract.pdf"
                    },
                    {
                      "hash": "b7e2c5f8a1d4e7b0c3f6a9d2e5b8c1f4a7d0e3b6c9f2a5d8e1b4c7f0a3d6e9b2",
                      "filename": "invoice.pdf"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed synchronously — count of items and per-item results returned inline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTimestampResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — body must be an array of {hash, filename} (max 50 items), each hash 64 hex chars.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/stamp": {
      "post": {
        "summary": "Create timestamp",
        "description": "Creates a cryptographic timestamp proof for a SHA-256 hash using OpenTimestamps. Returns a binary .ots file that proves the hash existed at the time of timestamping.",
        "tags": [
          "Timestamping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimestampRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic timestamp request",
                  "value": {
                    "hash": "a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timestamp created successfully",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimestampResponse"
                }
              }
            },
            "headers": {
              "X-Request-Cost": {
                "description": "Cost of this request in sats (Pro tier)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in current window",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "402": {
            "description": "Payment required - Lightning invoice provided in response"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "TimestampRequest": {
        "type": "object",
        "required": [
          "hash"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "pattern": "^[a-fA-F0-9]{64}$",
            "description": "SHA-256 hash of the document (64 hex characters)"
          },
          "filename": {
            "type": "string",
            "description": "Optional human-readable filename label",
            "default": "unknown"
          }
        }
      },
      "TimestampResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Timestamp id"
          },
          "hash": {
            "type": "string",
            "description": "SHA-256 hash that was stamped"
          },
          "filename": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          },
          "ipfs_cid": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "email_sent": {
            "type": "boolean"
          },
          "verify_url": {
            "type": "string",
            "description": "URL to view/verify the proof"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether the timestamp is cryptographically verified"
          },
          "bitcoin_block": {
            "type": "integer",
            "description": "Bitcoin block height where attestation exists"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of Bitcoin block"
          },
          "details": {
            "type": "string",
            "description": "Detailed verification info"
          },
          "calendar_attestations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "BatchTimestampRequest": {
        "type": "array",
        "description": "Array of {hash, filename} objects to timestamp (max 50 items).",
        "minItems": 1,
        "maxItems": 50,
        "items": {
          "type": "object",
          "required": [
            "hash"
          ],
          "properties": {
            "hash": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{64}$",
              "description": "SHA-256 hash (64 hex characters)"
            },
            "filename": {
              "type": "string",
              "description": "Optional human-readable filename label",
              "default": "batch"
            }
          }
        }
      },
      "BatchTimestampResponse": {
        "type": "object",
        "description": "Inline synchronous batch result.",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of items processed"
          },
          "results": {
            "type": "array",
            "description": "Per-item stamp result (one entry per submitted item, in order).",
            "items": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string",
                  "description": "Timestamp id (present when ok)"
                },
                "hash": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending"
                  ]
                },
                "ipfs_cid": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "error": {
                  "type": "string",
                  "description": "Error message (present when ok=false)"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "confirmed": {
      "post": {
        "summary": "Proof confirmed webhook",
        "description": "Sent when a pending timestamp is confirmed on Bitcoin. Registered via POST /api/webhooks (default events [\"confirmed\",\"revoked\"]); the ONLY event the server ever emits today is \"confirmed\". Verify integrity with the X-Satohash-Signature header (HMAC-SHA256 of the raw body).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": [
                      "confirmed"
                    ]
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Timestamp id"
                      },
                      "blockHeight": {
                        "type": "integer",
                        "description": "Bitcoin block height that confirmed the proof"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
