{
  "openapi": "3.0.3",
  "info": {
    "title": "Satohash API",
    "description": "**Bitcoin-native document timestamping.** Satohash lets you prove a document existed at a specific point in time — secured by the Bitcoin blockchain, with no Bitcoin wallet required for users.\n\nWhen you submit a SHA-256 hash, Satohash stamps it against three free public OpenTimestamps calendars (alice, bob, and finney). Within ~10 minutes a Bitcoin miner will include the calendar's aggregated commitment in a block, giving you an immutable, independently-verifiable timestamp anchored to global proof-of-work.\n\n## How it works\n1. **Hash** — your document never leaves your device; only its SHA-256 hash is sent\n2. **Stamp** — the hash is committed to three public OTS calendars simultaneously\n3. **Mine** — within ~10 min a Bitcoin block seals the commitment permanently\n4. **Verify** — anyone can verify the `.ots` proof independently, forever, for free\n\n## Authentication\nAll API requests require an API key in the `X-API-Key` header.\n\n## Pricing\n- **Free tier**: 100 requests/day — no credit card, no signup friction\n- **Pro tier**: Pay per request in satoshis via Lightning Network (L402)\n- **Enterprise**: Contact us for custom pricing and SLA\n\n## AI / LLM Integration\nSatohash is designed to be called from AI agents, GPT Actions, Claude tool_use, Make, Zapier, and n8n. The only pre-processing requirement is computing a SHA-256 hash of the document on the client side before calling the API. See the full integration guide at `https://satohash.giveabit.io/docs/AI_INTEGRATION`.\n\n## Zero-Knowledge Design\nDocument contents never touch Satohash servers. Only the 64-character hex SHA-256 hash is transmitted. This means Satohash cannot read, store, or leak your documents.",
    "version": "1.0.0",
    "contact": {
      "name": "Satohash Support",
      "email": "hello@giveabit.io"
    },
    "x-satohash-ots": {
      "description": "Satohash uses the OpenTimestamps protocol with three free public calendars. No API key or account is required to use these calendars — they are community-funded infrastructure maintained by the OTS project.",
      "calendars": [
        {
          "name": "alice",
          "url": "https://alice.btc.calendar.opentimestamps.org",
          "operator": "OpenTimestamps Project",
          "cost": "free"
        },
        {
          "name": "bob",
          "url": "https://bob.btc.calendar.opentimestamps.org",
          "operator": "OpenTimestamps Project",
          "cost": "free"
        },
        {
          "name": "finney",
          "url": "https://finney.calendar.eternitywall.com",
          "operator": "Eternity Wall",
          "cost": "free"
        }
      ],
      "uptime_monitor": "https://uptime.opentimestamps.net",
      "proof_lifecycle": ["pending", "confirmed"],
      "confirmation_time_minutes": 10
    }
  },
  "servers": [
    {
      "url": "https://satohash.giveabit.io",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/timestamp": {
      "post": {
        "summary": "Create timestamp",
        "description": "Creates a cryptographic timestamp proof for a SHA-256 hash using OpenTimestamps. Returns a binary .ots file that proves the hash existed at the time of timestamping.",
        "tags": ["Timestamping"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimestampRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic timestamp request",
                  "value": {
                    "hash": "a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e",
                    "webhook_url": "https://your-app.com/webhooks/timestamp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timestamp created successfully",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimestampResponse"
                }
              }
            },
            "headers": {
              "X-Request-Cost": {
                "description": "Cost of this request in sats (Pro tier)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in current window",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "402": {
            "description": "Payment required - Lightning invoice provided in response"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/api/v1/verify": {
      "get": {
        "summary": "Verify timestamp",
        "description": "Verifies a .ots timestamp file against the Bitcoin blockchain.",
        "tags": ["Verification"],
        "parameters": [
          {
            "name": "ots_file",
            "in": "query",
            "description": "Base64-encoded .ots file (optional - can use POST for binary upload)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Verify timestamp (binary upload)",
        "description": "Upload a binary .ots file for verification.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "otsFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "The .ots timestamp file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/price": {
      "get": {
        "summary": "Get current pricing",
        "description": "Returns current API pricing in satoshis per request.",
        "tags": ["Pricing"],
        "responses": {
          "200": {
            "description": "Current pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/block-height": {
      "get": {
        "summary": "Get latest block height",
        "description": "Returns the current Bitcoin block height from multiple sources.",
        "tags": ["Blockchain"],
        "responses": {
          "200": {
            "description": "Block height information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockHeightResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/upgrade": {
      "post": {
        "summary": "Upgrade timestamp",
        "description": "Upgrades a pending timestamp proof to include Bitcoin block confirmation.",
        "tags": ["Timestamping"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "otsFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgraded .ots file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-Ots-Upgraded": {
                "description": "Whether the file was actually upgraded",
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/timestamp/batch": {
      "post": {
        "summary": "Create batch timestamps",
        "description": "Timestamp up to 1,000 hashes in a single request. Perfect for archives, legal teams, and auditors. Processes asynchronously with webhook notification when complete.",
        "tags": ["Batch Timestamping"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTimestampRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Batch of 3 hashes",
                  "value": {
                    "hashes": [
                      "a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e",
                      "b7e2c5f8a1d4e7b0c3f6a9d2e5b8c1f4a7d0e3b6c9f2a5d8e1b4c7f0a3d6e9b2",
                      "c8f3d6e9b2c5f8a1d4e7b0c3f6a9d2e5b8c1f4a7d0e3b6c9f2a5d8e1b4c7f0a3"
                    ],
                    "metadata": {"batch_name": "Q1-2024-Contracts"}
                  }
                },
                "with_webhook": {
                  "summary": "Batch with webhook notification",
                  "value": {
                    "hashes": ["a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e"],
                    "webhook_url": "https://your-app.com/webhooks/batch-complete",
                    "metadata": {"client_id": "acme-corp", "job_ref": "batch-001"}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTimestampResponse"
                }
              }
            },
            "headers": {
              "X-Request-Cost": {
                "description": "Cost of this request in sats (flat rate per batch)",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Batch-Id": {
                "description": "Unique batch identifier",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - too many hashes or invalid format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded or batch size exceeds tier limit"
          }
        }
      }
    },
    "/api/v1/batches": {
      "get": {
        "summary": "List recent batches",
        "description": "Returns a list of recent batch timestamping jobs.",
        "tags": ["Batch Timestamping"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of batches to return (max 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of batches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches/{batchId}": {
      "get": {
        "summary": "Get batch status",
        "description": "Check the status and results of a batch timestamping job.",
        "tags": ["Batch Timestamping"],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "The batch ID returned when creating the batch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status and results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found"
          }
        }
      }
    },
    "/api/v1/batches/{batchId}/download": {
      "get": {
        "summary": "Download batch results",
        "description": "Download a ZIP file containing all .ots proof files and a manifest.json for a completed batch.",
        "tags": ["Batch Timestamping"],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "The batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ZIP file containing all timestamp proofs",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Batch not yet complete"
          },
          "404": {
            "description": "Batch not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "TimestampRequest": {
        "type": "object",
        "required": ["hash"],
        "properties": {
          "hash": {
            "type": "string",
            "pattern": "^[a-fA-F0-9]{64}$",
            "description": "SHA-256 hash of the document (64 hex characters)"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Optional webhook URL to receive completion notification"
          },
          "metadata": {
            "type": "object",
            "description": "Optional metadata to associate with this timestamp",
            "additionalProperties": true
          }
        }
      },
      "TimestampResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timestamp_id": {
            "type": "string",
            "description": "Unique identifier for this timestamp"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "confirmed"]
          },
          "bitcoin_block": {
            "type": "integer",
            "description": "Bitcoin block height (if confirmed)"
          },
          "ots_download_url": {
            "type": "string",
            "description": "URL to download the .ots proof file"
          }
        }
      },
      "VerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether the timestamp is cryptographically verified"
          },
          "bitcoin_block": {
            "type": "integer",
            "description": "Bitcoin block height where attestation exists"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of Bitcoin block"
          },
          "details": {
            "type": "string",
            "description": "Detailed verification info"
          },
          "calendar_attestations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PriceResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "object",
            "properties": {
              "sats": {
                "type": "integer",
                "description": "Cost per timestamp in satoshis"
              },
              "usd_estimate": {
                "type": "number",
                "description": "Estimated USD equivalent"
              }
            }
          },
          "verify": {
            "type": "object",
            "properties": {
              "sats": {
                "type": "integer"
              },
              "free": {
                "type": "boolean",
                "description": "Verification is always free"
              }
            }
          },
          "upgrade": {
            "type": "object",
            "properties": {
              "sats": {
                "type": "integer"
              }
            }
          }
        }
      },
      "BlockHeightResponse": {
        "type": "object",
        "properties": {
          "block_height": {
            "type": "integer",
            "description": "Current Bitcoin block height"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "height": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "BatchTimestampRequest": {
        "type": "object",
        "required": ["hashes"],
        "properties": {
          "hashes": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{64}$"
            },
            "description": "Array of SHA-256 hashes to timestamp (max 1,000 for Pro, 100 for Free)",
            "minItems": 1,
            "maxItems": 1000
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Optional webhook URL to receive batch completion notification"
          },
          "metadata": {
            "type": "object",
            "description": "Optional metadata to associate with this batch",
            "additionalProperties": true
          }
        }
      },
      "BatchTimestampResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "batch_id": {
            "type": "string",
            "description": "Unique identifier for this batch"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "processing", "complete"]
          },
          "total": {
            "type": "integer",
            "description": "Total number of hashes in batch"
          },
          "estimated_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "webhook_registered": {
            "type": "boolean"
          },
          "status_url": {
            "type": "string",
            "description": "URL to check batch status"
          },
          "download_url": {
            "type": "string",
            "description": "URL to download results when complete"
          }
        }
      },
      "BatchStatusResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "processing", "complete"]
          },
          "total": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "progress_percent": {
            "type": "integer",
            "description": "Processing progress (0-100)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "hash": {
                  "type": "string"
                },
                "timestamp_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": ["success", "failed"]
                }
              }
            }
          },
          "webhook_delivered": {
            "type": "boolean"
          },
          "download_url": {
            "type": "string"
          }
        }
      },
      "BatchListResponse": {
        "type": "object",
        "properties": {
          "batches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "batch_id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                },
                "completed": {
                  "type": "integer"
                },
                "failed": {
                  "type": "integer"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "status_url": {
                  "type": "string"
                }
              }
            }
          },
          "total_available": {
            "type": "integer"
          }
        }
      }
    }
  },
  "webhooks": {
    "timestampComplete": {
      "post": {
        "summary": "Timestamp completed webhook",
        "description": "Sent when a pending timestamp is confirmed on Bitcoin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": ["timestamp.confirmed"]
                  },
                  "timestamp_id": {
                    "type": "string"
                  },
                  "hash": {
                    "type": "string"
                  },
                  "bitcoin_block": {
                    "type": "integer"
                  },
                  "block_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ots_proof": {
                    "type": "string",
                    "description": "Base64-encoded .ots proof"
                  }
                }
              }
            }
          }
        }
      }
    },
    "batchComplete": {
      "post": {
        "summary": "Batch completed webhook",
        "description": "Sent when a batch timestamping job is complete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": ["batch.complete"]
                  },
                  "batch_id": {
                    "type": "string"
                  },
                  "total": {
                    "type": "integer"
                  },
                  "completed": {
                    "type": "integer"
                  },
                  "failed": {
                    "type": "integer"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "download_url": {
                    "type": "string",
                    "description": "URL to download ZIP of all proofs"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the download URL expires"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
